@using Web2FA.Models.AccountViewModels;

@model ResetPasswordViewModel

@* <div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Email" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@
<head>
    <title>Reset password</title>
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center" style="margin-bottom: 0.5rem!important;">Reset your password</h3>
                        <div class="login-navigation">
                            <p class="w-100 text-center" style="margin-bottom: 1.5rem!important;">
                                Enter your new password below. Choose wisely.
                            </p>
                        </div>
                        <form asp-controller="Account" asp-action="ResetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input asp-for="Password" id="password-field" class="form-control" placeholder="New password" required />
                                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input asp-for="ConfirmPassword" id="password-confirm-field" class="form-control" placeholder="Confirm password" required />
                                    <span toggle="#password-confirm-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Reset</button>
                            </div>
                            <input type="hidden" asp-for="Email" class="form-control" />
                            <input type="hidden" asp-for="Token" class="form-control" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
