.forgot-password-container {
    position: absolute;
    display: block;
    background: #fff;
    min-height: 400px;
    width: 360px;
    border-radius: 3px;
    margin: auto auto;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


    .forgot-password-container input {
        color: #000 !important;
        border: 1px solid #333;
        border-radius: 5px;
       
    }
        .forgot-password-container input::placeholder {
            color: rgba(0, 0, 0, 0.5) !important;
        }
        .forgot-password-container input:hover,
        .forgot-password-container input:focus {
            color: rgba(255, 255, 255, 0.8);
            background: unset !important;
            border-color: #333;
        }
    .forgot-password-container .btn:hover {
        color: #e18c5c !important
    }

