@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        body {
            background-image: none;
        }
        body::after {
            background-color: transparent;
        }

        .navbar {
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;
        }

        main.pb-3 {
            padding: 0 !important;
        }

        .container {
            max-width: 100%;
            padding: 0;
            position: absolute;
            top: 0;
            z-index: -1;
        }

        .landscape-container {
            position: relative;
            overflow: hidden;
            text-align: center;
            background-color: transparent;
            font-family: "Lato", Arial, sans-serif;
            display: block;
            height: 100vh;
        }
        
        .layer {
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
        }
        .layer-1 {
            background-image: url('../img/sky.png');
            top: -25%;
            z-index: 0;
        }
        .layer-2 {
            background-image: url('../img/mountain.png');
            top: 10%;
            z-index: 1;
        }

        .object {
            position: absolute;
            height: fit-content;
            width: fit-content;
            animation: moveLeftToRight 170s linear infinite;
        }
        .object-1 {
            top: 15%;
            left: 8%;
            z-index: 1;
        }
        .object-2 {
            right: 25%;
            top: 15%;
            z-index: 0;
        }
        .object-3 {
            right: 12%;
            top: 40%;
            z-index: 1;
        }
        @@keyframes moveLeftToRight {
            0%, 100% {
                transform: translate3d(0, 0, 0);
            }

            50% {
                transform: translate3d(100%, 0, 0);
            }
        }
        @@media (max-height: 790px) {
            .layer-1 {
                top: 0;
            }

            .layer-2 {
                top: 0;
            }
        }
    </style>
</head>
<body>
    <div class="landscape-container">
        <div class="layer layer-1"></div>
        <div class="layer layer-2"></div>
        <div class="object object-1"><img src="~/img/cloud22.png"/></div>
        <div class="object object-2"><img src="~/img/cloud12.png"/></div>
        <div class="object object-3"><img src="~/img/cloud32.png" /></div>
    </div>
</body>

