<head>
    <style>
        body {
            background-image: none;
        }

            body::after {
                display: none;
            }

        .navbar {
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;
        }
        .nav-link,
        .navbar-brand {
            color: rgba(255, 255, 255, 0.7) !important;
        }

        main.pb-3 {
            padding: 0 !important;
        }

        .container {
            max-width: 100%;
            padding: 0;
            position: absolute;
            top: 0;
            z-index: -1;
        }

        .ocean-container {
            background-image: url('../img/pexels-blaque-x-932638.png');
            background-position-y: 50%;
            position: relative;
            background-size: cover;
            display: flex;
            height: 100vh;
            overflow: hidden;
        }

            .ocean-container::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #000;
                opacity: .3;
                z-index: 0;
            }

        .bubble {
            width: 4px;
            height: 4px;
            border-radius: 100%;
            position: absolute;
            background-color: white;
            bottom: -30px;
            opacity: 0.6 !important;
            animation: bubble 15s infinite, sideWays 4s infinite alternate;
        }
        @@keyframes bubble {
          0% {
            transform: translateY(0%);
          }
          100% {
            transform: translateY(-120vh);
          }
        }

        @@keyframes sideWays {
          0% {
            margin-left: 0px;
          }
          100% {
            margin-left: 200px;
          }
        }

        .bubble--1 {
            left: 10%;
            animation-delay: 0.5s;
            animation-duration: 16s;
        }

        .bubble--2 {
            left: 40%;
            animation-delay: 1s;
            animation-duration: 10s;
        }

        .bubble--3 {
            left: 30%;
            animation-delay: 5s;
            animation-duration: 20s;
        }

        .bubble--4 {
            width: 3px;
            height: 3px;
            left: 20%;
            animation-delay: 8s;
            animation-duration: 17s;
        }

        .bubble--5 {
            width: 3px;
            height: 3px;
            left: 60%;
            animation-delay: 10s;
            animation-duration: 15s;
        }

        .bubble--6 {
            left: 80%;
            animation-delay: 3s;
            animation-duration: 30s;
        }

        .bubble--7 {
            left: 90%;
            animation-delay: -7s;
            animation-duration: 25s;
        }

        .bubble--8 {
            left: 18%;
            animation-delay: -10s;
            animation-duration: 25s;
        }

        .bubble--9 {
            left: 50%;
            bottom: 30px;
            animation-delay: -5s;
            animation-duration: 19s;
        }

        .bubble--10 {
            left: 30%;
            bottom: 30px;
            animation-delay: -21s;
            animation-duration: 16s;
        }

        .bubble--11 {
            width: 3px;
            height: 3px;
            left: 60%;
            bottom: 30px;
            animation-delay: -13.75s;
            animation-duration: 20s;
        }

        .bubble--12 {
            left: 90%;
            bottom: 30px;
            animation-delay: -10.5s;
            animation-duration: 19s;
        }

        .bubble--13 {
            left: 80%;
            bottom: 10px;
            animation-delay: -12.5s;
            animation-duration: 15s;
        }

        .bubble--14 {
            left: 70%;
            bottom: 5px;
            animation-delay: 5.5s;
            animation-duration: 10s;
        }

        .bubble--16 {
            left: 20%;
            bottom: 5px;
            animation-delay: -5.5s;
            animation-duration: 20s;
        }

        .bubble--17 {
            left: 50%;
            bottom: 5px;
            animation-delay: -5.5s;
            animation-duration: 20s;
        }

        .bubble--18 {
            left: 80%;
            animation-delay: -20s;
            animation-duration: 30s;
        }

        .bubble--19 {
            left: 15%;
            animation-delay: 2s;
            animation-duration: 20s;
        }

        .bubble--19 {
            left: 45%;
            animation-delay: 5s;
            animation-duration: 10s;
        }

        .bubble--19 {
            left: 48%;
            animation-delay: -5s;
            animation-duration: 15s;
        }

        .bubble--20 {
            left: 60%;
            animation-delay: 6s;
            animation-duration: 10s;
        }

        .bubble--21 {
            left: 55%;
            animation-delay: -10s;
            animation-duration: 18s;
        }

        .bubble--22 {
            left: 25%;
            animation-delay: -8s;
            animation-duration: 15s;
        }

        .bubble--23 {
            left: 30%;
            animation-delay: 3s;
            animation-duration: 10s;
        }

        .bubble--24 {
            left: 35%;
            animation-delay: 5.5s;
            animation-duration: 25s;
        }

        .content-wrapper {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            color: rgb(248, 37, 68);
            width: 60%;
            text-align: center;
            z-index: 1;
        }
        .title-highlight {
            z-index: 1;
            margin-bottom: 80px;
        }

            .title-highlight h1 {
                color: rgba(255, 255, 255, 0.85);
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                font-size: 100px;
                text-align: center;
            }

        .item {
            color: rgba(255, 255, 255, 0.85);
            font-size: 36px;
            font-weight: 700;
            line-height: normal;
        }
        .item__title {
            color: rgb(248, 37, 68);
            font-size: 60px;
            font-weight: 700;
            margin: 0;
        }
        .btn.btn-primary {
            cursor: pointer !important;
            background-color: rgb(248, 37, 68) !important;
            color: rgba(255, 255, 255, 0.85) !important;
            border: none !important;
            font-weight: 700;
            font-size: 20px;
            text-transform: none;
            border-radius: 40px;
            padding: 16px 64px;
            margin-top: 15%;
            outline: none;
        }
    </style>
</head>
<body>
    <div class="ocean-container">
        <div class="bubble bubble--1"></div>
        <div class="bubble bubble--2"></div>
        <div class="bubble bubble--3"></div>
        <div class="bubble bubble--4"></div>
        <div class="bubble bubble--5"></div>
        <div class="bubble bubble--6"></div>
        <div class="bubble bubble--7"></div>
        <div class="bubble bubble--8"></div>
        <div class="bubble bubble--9"></div>
        <div class="bubble bubble--10"></div>
        <div class="bubble bubble--11"></div>
        <div class="bubble bubble--12"></div>
        <div class="bubble bubble--13"></div>
        <div class="bubble bubble--14"></div>
        <div class="bubble bubble--15"></div>
        <div class="bubble bubble--16"></div>
        <div class="bubble bubble--17"></div>
        <div class="bubble bubble--18"></div>
        <div class="bubble bubble--19"></div>
        <div class="bubble bubble--20"></div>
        <div class="bubble bubble--21"></div>
        <div class="bubble bubble--22"></div>
        <div class="bubble bubble--23"></div>
        <div class="bubble bubble--24"></div>
        <div class="content-wrapper">
            <div class="title-highlight">
                <h1>Go deep.</h1>
            </div>
            <div class="row">
                <div class="item col">
                    <p class="item__title">150+</p>
                    <p>Templates</p>
                </div>
                <div class="item col">
                    <p class="item__title">25+</p>
                    <p>Add-Ons</p>
                </div>
                <div class="item col">
                    <p class="item__title">500+</p>
                    <p>GFX Elements</p>
                </div>
                <div class="item col">
                    <p class="item__title">24/7</p>
                    <p>Support</p>
                </div>
            </div>
            <button class="btn btn-primary">Learn more</button>
        </div>
    </div>
</body>